@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./asset/fonts/Inter-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url(./asset/fonts/Inter-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter'), url(./asset/fonts/Inter-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(./asset/fonts/Inter-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: local('Inter'), url(./asset/fonts/Inter-Thin.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
